body {
  margin: 0; padding: 0;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

.center {
  width: 800px;
  margin: 0 auto;
}

/* --------------- header styles --------------- */

header {
  height: 200px;
  overflow: hidden;
  background:
    url('img/nyan-star.gif') repeat-x,
    url('img/nyan-star.gif') -200px 40px repeat-x,
    url('img/nyan-star.gif') -40px 80px repeat-x,
    url('img/nyan-star.gif') -130px 120px repeat-x,
    url('img/nyan-star.gif') 90px 160px repeat-x;
}

header img {
  max-width: 120px;
  display: block;
  margin-top: 55px;
  cursor: pointer;
}

/* --------------- tweet section --------------- */

.tweetz {
  font-weight: 300;
  overflow: hidden;
  padding: 70px 0;
}

.tweetz img {
  float: left;
  margin-right: 30px;
}

.tweetz .content {
  float: left;
  width: 610px;
}

.tweetz .content p { margin: 5px 0; }

.tweetz .moar {
  float: left;
  cursor: pointer;
  margin-top: 15px;
}

.tweetz .moar img {
  display: block;
  margin-bottom: 6px;
}

.tweetz .moar p {
  font-weight: 500;
  color: #e0e0e0;
  padding-left: 4px;
}

.tweetz h3 {
  max-width: 570px;
  line-height: 1.3em;
  margin-top: 8px;
}

/* --------------- song section --------------- */

.song {
  background: #f2f2f2;
  padding: 70px 0;
  color: #293a45;
  overflow: hidden;
}

.song h2 {
  font-size: 2.5em;
  margin: 10px 0;
  font-weight: 900;
}

.song p {
  font-size: 1.4em;
  margin: 0 0 7px 0;
}

.song small {
  font-size: 1.2em;
  opacity: .5;
}

.text {
  float: left;
}

button.lolz {
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  border: none;
  background: #e85a7f;
  color: #fff;
  border-radius: 6px;
  padding: .8em 1.5em;
  float: left;
  margin: 27px 0 0 70px;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

button.lolz:hover {
  background-color: #d44369;
}